*{
	margin:0;
	padding:0;
	list-style: none;
	text-decoration: none;
}
@font-face {
  font-family: 'iconfont';  /* project id 354513 */
  src: url('http://at.alicdn.com/t/font_354513_1icp5n5wkjiqkt9.eot');
  src: url('http://at.alicdn.com/t/font_354513_1icp5n5wkjiqkt9.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_354513_1icp5n5wkjiqkt9.woff') format('woff'),
  url('http://at.alicdn.com/t/font_354513_1icp5n5wkjiqkt9.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_354513_1icp5n5wkjiqkt9.svg#iconfont') format('svg');
}
.nav{
	width:100%;
	height: 50px;
	background: #fff;
}
.logo{
	width:200px;
	height: 100%;
	background: url(../img/logozi.jpg) no-repeat center;
	background-size:150px 50px;
	margin-left:210px;
	float:left;
}
.nav-mulu{
	width:580px;
	height: 100%;
	float:left;
}
.nav-mulu li{
	height: 47px;
	font-size: 16px;
	color:#565656;
	text-align: center;
	line-height: 50px;
	float:left;
	margin-right: 40px;
}
.nav-mulu li a{
	color:#565656;
}
.nav-mulu li:hover a{
	text-decoration: online;
}
.nav-mulu li:hover{
	border-bottom:3px solid #f6d866;
}
.kuang{
	width: 200px;
	height: 30px;
	float:left;
	position: relative;
}
.shuru{
	width: 200px;
	height: 30px;
	margin-top:10px;
	outline: none;
}
.sou{
	width:20px;
	height: 20px;
	font-family: 'iconfont';
	position: absolute;
	left:180px;
	top:18px;
}
.head{
	width: 100%;
	height: 600px;
	position: relative;
	overflow: hidden;
}
.img{
	width:100%;
	height:100%;
}
.img img{
	width:100%;
	height:100%;
}
.img li{
	width:100%;
	height:100%;
	position:absolute;
	left:100%;
	top:0;
}
.img li:first-child{
	left:0;
	top:0;
} 
/*.tou{
	width:100%;
	height: 100px;
	background: #99c9e0;
	opacity: 0.5;
	margin-top: 200px;
	float:left;
}*/
.dian{
	width: 250px;
	height: 34px;
	float:left;
	position: absolute;
	left:1100px;
	bottom:40px;
}
.dian li{
	width: 16px;
	height: 16px;
	border:2px solid #EDE276;
	opacity: 0.8;
	border-radius: 50%;
	float:left;
	margin-right: 30px;
	cursor: pointer;
}
.dian li:first-child{
	background: #EDE276;
}
.dian li:last-child{
	margin-right: 0px;
}
.dian li:hover{
	width: 16px;
	height: 16px;
	background: none;
	border:2px solid #EDE276;
	border-radius:50%;
}
.forward{
	width:50px;
	height:50px;
	border-radius: 50%;
	background: #EDE276;
	font-family:'iconfont';
	font-size: 20px;
	color:#5B5B5B;
	text-align: center;
	line-height: 50px;
	position: absolute;
	left:30px;
	top:300px;
	opacity: 0;
	transition: all 0.5s;
}
.forward:hover{
	opacity: 1;
}
.back{
	width:50px;
	height:50px;
	border-radius: 50%;
	background: #EDE276;
	font-family:'iconfont';
	font-size: 20px;
	color:#5B5B5B;
	text-align: center;
	line-height: 50px;
	position: absolute;
	right:30px;
	top:300px;
	opacity: 0;
	transition: all 0.5s;
}
.back:hover{
	opacity: 1;
}
.ban{
	width:1100px;
	height: 1800px;
	background: #ffffff;
	border:4px solid #cecece;
	margin:0 auto;
	position: absolute;
    top:600px;
    left:0;
    right:0;
}
.yi{
	width:100%;
	height: 667px;
}
.maozi{
	font-family: 'iconfont';
	font-size: 30px;
	color:#b7b7b7;
	line-height: 100%;
	text-align: center;
	margin:40px 0px auto;
}
.zi{
	font-family: arial;
	font-size: 20px;
	color:#5b5b5b;
	line-height: 100%;
	text-align: center;
	margin:10px 0px auto;
}
.pin{
	font-family: arial;
	font-size: 20px;
	color:#45301d;
	line-height: 100%;
	text-align: center;
	margin:10px 0px auto;
}
.tiao{
	width: 100%;
	height: 30px;
	background: url(../img/pinpai09.png) no-repeat center;
	background-size: 200px,100%;
}
.food{
	font-family: arial;
	font-size: 15px;
	color:#5b5b5b;
	line-height: 100%;
	text-align: center;
	margin:0 auto;
}
.yuan{
	width:250px;
	height: 250px;
	border:2px solid #5B5B5B;
	float:left;
	border-radius: 50%;
	background: url(../img/eu09-rbs0047.jpg) no-repeat center;
	background-size:100% 100%;
	margin-left: 110px;
	margin-top:90px;
	position: relative;
}
.cang{
	width:250px;
	height: 250px;
	border-radius: 50%;
	background: lightgray;
	opacity: 0.8;
	position: absolute;
	left:-250px;
	top:0;
	transition: all 1s;
	opacity: 0;
}
.cang1{
	width:100%;
	height:30px;
	margin-top:105px;
	font-family: "微软雅黑";
	font-size: 25px;
	line-height: 30px;
	text-align: center;
	color:#000;
}
.cang2{
	width:80%;
	height:5px;
	margin-left:30px;
	background: #fff;
	margin-top:20px;
}
.yuan:hover .cang{
	opacity: 0.5;
	transform: translateX(250px) rotate(360deg);
}
.from{
	width:350px;
	height: 45px;
	float:left;
	font-family:"arial";
	font-size: 50px;
	font-weight: bolder;
	color:#5b5b5b;
	line-height: 45px;
	text-align: left;
	margin-left: 200px;
	margin-top:80px;
}
.biao{
	width:300px;
	height: 40px;
	float:left;
	font-family:"微软雅黑";
	font-size: 30px;
	color:#5b5b5b;
	line-height: 40px;
	text-align: left;
	margin-left: 200px;
	margin-top: 10px;
}
.heng{
	width:300px;
	height: 1px;
	background: #5B5B5B;
	float:left;
	margin-left: 200px;
	margin-top: 10px;
}
.duan1{
	width:480px;
	height: 150px;
	float:left;
	font-size: 16px;
	font-family: "微软雅黑";
	color:#000;
	margin-left:200px;
	margin-top: 10px;
}
.cha{
	width: 190px;
	height: 46px;
	float:left;
	border-radius: 5%;
	background: #f8c007;
	font-size: 24px;
	color:#fff;
	line-height: 46px;
	text-align: center;
	margin-top: 50px;
	margin-left: 140px;
}
.cha a{
	color:#fff;
}
.duan2{
	width:480px;
	height: 150px;
	float:left;
	font-size: 14px;
	font-family:arial;
	color:#000;
	margin-left:230px;
	margin-top: 30px;
}
.two{
	width:100%;
	height: 1050px;
}
.tu{
	width:80%;
	height: 80%;
	background: #fff;
	margin:40px auto;
}
.tu1{
	width:55%;
	height: 100%;
	float:left;
	background: #f6f6f6;
	margin-right:17px;
}
.tu2{
	width:43%;
	height: 100%;
	float:left;
}
.tu1-1{
	width:100%;
	height: 70%;
	position: relative;
	transition: all 1s;
}
.tu1-1 img{
	width:100%;
	height: 100%;
}
.tuhidden{
	width:0;
	height:100px;
	position: absolute;
	left:0;
	top:250px;
	background:lightblue;
	opacity: 0.5;
	line-height: 100px;
	text-align: center;
	font-family: "微软雅黑";
	font-size:30px;
	color:honeydew;
	transition: all 1s;
}
.tu1-1:hover .tuhidden{
	width:100%;
	color:#000;
	transform: rotate(360deg);
}
.tu1-2{
	width:90%;
	height: 10%;
	font-family: "微软雅黑";
	margin:20px auto;
}
.tu1-3{
	width:90%;
	height: 12%;
	font-family: arial;
	margin:20px auto;
}
.tu2-1{
	width:100%;
	height: 50%;
	margin-bottom: 17px;
	position: relative;
}
.tu2-1 img{
	width:100%;
	height: 100%;
}
.tuhidden1{
	width:0;
	height:100px;
	position: absolute;
	left:0;
	top:250px;
	background:lightpink;
	opacity: 0.5;
	line-height: 100px;
	text-align: center;
	font-family: "微软雅黑";
	font-size:30px;
	color:honeydew;
	transition: all 1s;
}
.tu2-1:hover .tuhidden1{
	width:100%;
	color:#000;
	transform: rotate(360deg);
}
.tuhidden2{
	width:0;
	height:100px;
	position: absolute;
	left:0;
	top:250px;
	background:lightgreen;
	opacity: 0.5;
	line-height: 100px;
	text-align: center;
	font-family: "微软雅黑";
	font-size:30px;
	color:honeydew;
	transition: all 1s;
}
.tu2-2:hover .tuhidden2{
	width:100%;
	color:#000;
	transform: rotate(360deg);
}
.tu2-2{
	width:100%;
	height: 48%;
	position: relative;
}
.tu2-2 img{
	width:100%;
	height: 100%;
}
.bai{
	width:100%;
	height: 100px;
	background:#fff;
	position: absolute;
    top:2410px;
}
.hei{
	width:100%;
	height: 50px;
	position: absolute;
    top:2510px;
}
.heicenter{
	width:400px;
	height: 100%;
	background: #000;
	margin:0 auto;
	font-family: arial;
	font-size: 23px;
	color:#fff;
	text-align: center;
	line-height: 50px;
}
.hei1{
	width:100%;
	height: 60px;
	position: absolute;
    top:2560px;
}
.hei1center{
	width:130px;
	height: 10px;
	background: #000;
	margin:25px auto;
}
.low{
	width:100%;
	height: 50px;
	position: absolute;
    top:2620px;
	font-family: "微软雅黑";
	font-size: 22px;
	color:#000;
	text-align: center;
	line-height: 50px;
}
.bottom{
	width:100%;
	height: 500px;
	position: absolute;
    top:2670px;
	background-image: url(../img/bottom.png);
	background-size:100% 100%;
}
.tel{
	width:300px;
	height: 30px;
	position:absolute;
	left:350px;
	top:100px;
	font-family: arial;
	font-size: 25px;
	text-align: center;
	line-height: 30px;
}
.adress{
	width:550px;
	height: 30px;
	position:absolute;
	left:350px;
	top:150px;
	font-family: arial;
	font-size: 25px;
	text-align: center;
	line-height: 30px;
}
.youxiang{
	width:333px;
	height: 30px;
	position:absolute;
	left:350px;
	top:200px;
	font-family: arial;
	font-size: 25px;
	text-align: center;
	line-height: 30px;
}
.qq{
	width:105px;
	height:120px;
	position:absolute;
	left:350px;
	top:250px;
}
.qqzi{
	width:100%;
	height:20px;
	font-family: arial;
	font-size: 15px;
	text-align: center;
	line-height: 20px;
	color:#000;
}
.qqer{
	width:100px;
	height:100px;
}
.qqer img{
	width:100px;
	height:100px;
}
.weixin{
	width:105px;
	height:120px;
	position:absolute;
	left:450px;
	top:250px;
}
.weizi{
	width:100%;
	height:20px;
	font-family: arial;
	font-size: 15px;
	text-align: center;
	line-height: 20px;
	color:#000;
}
.weier{
	width:100px;
	height:100px;
	margin-top:5px;
	margin-left:5px;
}
.weier img{
	width:90px;
	height:90px;
}
.jingxi{
	width:300px;
	height:50px;
	position: absolute;
	left:550px;
	top:330px;
	font-size: 20px;
	text-align: center;
	line-height: 25px;
	color:#000;
}
.jiyu{
	width:740px;
	height:auto;
	font-family: arial;
	font-size: 20px;
	text-align: center;
	line-height: 25px;
	color:#000;
	position:absolute;
	left:350px;
	top:380px;
}
