*{
	margin:0;
	padding:0;
	list-style: none;
	text-decoration: none;
}
@font-face {
  font-family: 'iconfont';  /* project id 354513 */
  src: url('http://at.alicdn.com/t/font_354513_1icp5n5wkjiqkt9.eot');
  src: url('http://at.alicdn.com/t/font_354513_1icp5n5wkjiqkt9.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_354513_1icp5n5wkjiqkt9.woff') format('woff'),
  url('http://at.alicdn.com/t/font_354513_1icp5n5wkjiqkt9.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_354513_1icp5n5wkjiqkt9.svg#iconfont') format('svg');
}
.nav{
	width:100%;
	height: 50px;
	background: #fff;
}
.logo{
	width:200px;
	height: 100%;
	background: url(../img/logozi.jpg) no-repeat center;
	background-size:150px 50px;
	margin-left:210px;
	float:left;
}
.nav-mulu{
	width:580px;
	height: 100%;
	float:left;
}
.nav-mulu li{
	height: 47px;
	font-size: 16px;
	color:#565656;
	text-align: center;
	line-height: 50px;
	float:left;
	margin-right: 40px;
}
.nav-mulu li a{
	color:#565656;
}
.nav-mulu li:hover a{
	text-decoration: online;
}
.nav-mulu li:hover{
	border-bottom:3px solid #f6d866;
}
.kuang{
	width: 200px;
	height: 30px;
	float:left;
	position: relative;
}
.shuru{
	width: 200px;
	height: 30px;
	margin-top:10px;
	outline: none;
}
.sou{
	width:20px;
	height: 20px;
	font-family: 'iconfont';
	position: absolute;
	left:180px;
	top:18px;
}
.head{
	width: 100%;
	height: 600px;
	position: relative;
	overflow: hidden;
}
.img{
	width:100%;
	height:100%;
}
.img img{
	width:100%;
	height:100%;
}
.img li{
	width:100%;
	height:100%;
	position:absolute;
	left:100%;
	top:0;
}
.img li:first-child{
	left:0;
	top:0;
} 
/*.tou{
	width:100%;
	height: 100px;
	background: #99c9e0;
	opacity: 0.5;
	margin-top: 200px;
	float:left;
}*/
.dian{
	width: 250px;
	height: 34px;
	float:left;
	position: absolute;
	left:1100px;
	bottom:40px;
}
.dian li{
	width: 16px;
	height: 16px;
	border:2px solid #EDE276;
	opacity: 0.8;
	border-radius: 50%;
	float:left;
	margin-right: 30px;
	cursor: pointer;
}
.dian li:first-child{
	background: #EDE276;
}
.dian li:last-child{
	margin-right: 0px;
}
.dian li:hover{
	width: 16px;
	height: 16px;
	background: none;
	border:2px solid #EDE276;
	border-radius:50%;
}
.forward{
	width:50px;
	height:50px;
	border-radius: 50%;
	background: #EDE276;
	font-family:'iconfont';
	font-size: 20px;
	color:#5B5B5B;
	text-align: center;
	line-height: 50px;
	position: absolute;
	left:30px;
	top:300px;
	opacity: 0;
	transition: all 0.5s;
}
.forward:hover{
	opacity: 1;
}
.back{
	width:50px;
	height:50px;
	border-radius: 50%;
	background: #EDE276;
	font-family:'iconfont';
	font-size: 20px;
	color:#5B5B5B;
	text-align: center;
	line-height: 50px;
	position: absolute;
	right:30px;
	top:300px;
	opacity: 0;
	transition: all 0.5s;
}
.back:hover{
	opacity: 1;
}
.ban{
	width:1100px;
	height: 2300px;
	background: #ffffff;
	border:4px solid #cecece;
	margin:0 auto;
	position: absolute;
    top:600px;
    left:0;
    right:0;
}
.yi{
	width:100%;
	height: 1020px;
}
.maozi{
	font-family: 'iconfont';
	font-size: 30px;
	color:#b7b7b7;
	line-height: 100%;
	text-align: center;
	margin:20px 0px auto;
}
.zi{
	font-family: arial;
	font-size: 20px;
	color:#5b5b5b;
	line-height: 100%;
	text-align: center;
	margin:10px 0px auto;
}
.pin{
	font-family: arial;
	font-size: 20px;
	color:#45301d;
	line-height: 100%;
	text-align: center;
	margin:10px 0px auto;
}
.tiao{
	width: 100%;
	height: 30px;
	background: url(../img/pinpai09.png) no-repeat center;
	background-size: 200px,100%;
}
.food{
	font-family: arial;
	font-size: 15px;
	color:#5b5b5b;
	line-height: 100%;
	text-align: center;
	margin:0 auto;
}
.dianzhang{
	width:80%;
	height:860px;
	/*background: pink;*/
	margin:10px auto;
}
.dianzhang li{
	width:50%;
	height:286.667px;
	float:left;
	position:relative;
}
.yiban{
	width:50%;
	height:100%;
	background: #B7B7B7;
	font-family:"bodoni mt";
	font-size: 25px;
	font-weight: bolder;
	color:#000;
	text-align: center;
	line-height: 100px;
	opacity: 0.5;
	position:absolute;
	left:0px;
	top:0;
    transition: all 0.5s;
}
.yibann{
	width:50%;
	height:100%;
	background: #B7B7B7;
	font-family: "bodoni mt";
	font-size: 25px;
	font-weight: bolder;
	color:#000;
	text-align: center;
	line-height: 500px;
	opacity: 0.5;
	position:absolute;
	right:0px;
	top:0;
	transition: all 0.5s;
}
.dianzhang li:hover .yiban{
	transform: translateX(-220px);
	opacity: 0;
}
.dianzhang li:hover .yibann{
	transform: translateX(220px);
	opacity: 0;
}
.yiban1{
	width:400px;
	height:103px;
	background: #B7B7B7;
	padding:20px;
	font-family:"bodoni mt";
	font-size: 25px;
	font-weight: bolder;
	color:#000;
	text-align: left;
	line-height: 143px;
	opacity: 0.5;
	position:absolute;
	left:0px;
	top:0;
    transition: all 0.5s;
}
.yibann1{
	width:400px;
	height:115px;
	background: #B7B7B7;
	padding:20px;
	font-family: "bodoni mt";
	font-size: 25px;
	font-weight: bolder;
	color:#000;
	text-align: right;
	line-height: 143px;
	opacity: 0.5;
	position:absolute;
	right:0px;
	top:143px;
	transition: all 0.5s;
}
.dianzhang li:hover .yiban1{
	transform: translateY(-220px);
	opacity: 0;
}
.dianzhang li:hover .yibann1{
	transform: translateY(220px);
	opacity: 0;
}
.dianzhang li:first-child img{
	width:100%;
	height:100%;
}
.dianzhang li:nth-child(3) img{
	width:100%;
	height:100%;
}
.dianzhang li:nth-child(4) img{
	width:100%;
	height:100%;
}
.dianzhang li:nth-child(5) img{
	width:100%;
	height:100%;
}
.dianzhang-1{
	width:100%;
	height:20%;
	background: #fff;
	border-bottom: 1px solid #b7b7b7;
	box-sizing: border-box;
}
.dianzhang-2{
	width:100%;
	height:80%;
	background: #CBB2B8;
	border-right: 1px solid #b7b7b7;
	box-sizing: border-box;
	overflow: hidden;
}
.zhang-1{
	width:419px;
	height:60px;
	font-family: "微软雅黑";
	font-size: 30px;
	font-weight: bolder;
	line-height:60px;
	color:#583D37;
	padding-left: 20px;
	margin-top: 40px;
}
.zhang-2{
	width:419px;
	height:30px;
	font-family: "微软雅黑";
	font-size: 18px;
	line-height:40px;
	color:#583D37;
	padding-left: 20px;
	margin-top: 20px;
}
.zhang-3{
	width:419px;
	height:20%;
	font-family: "微软雅黑";
	font-size: 18px;
	line-height:46px;
	color:#583D37;
	padding-left: 20px;
	margin-top: 10px;
}
.more{
	width:60px;
	height: 60px;
	border-radius: 50%;
	background: #464646;
	position:absolute;
	right:-30px;
	top:30px;
	font-family: arial;
	font-size: 16px;
	color:#fff;
	text-align: center;
	line-height: 60px;
}
.more1{
	width:60px;
	height: 60px;
	border-radius: 50%;
	background: #464646;
	border:1px solid #45301D;
	position:absolute;
	right:30px;
	top:100px;
	font-family: arial;
	font-size: 16px;
	color:#fff;
	text-align: center;
	line-height: 60px;
}
.dianzhang-3{
	width:880px;
	height:40px;
	/*background: #ab8a67;*/
	box-sizing: border-box;
    position:absolute;
    left:110px;
    top:1190px;
}
.zuo{
	width:10%;
	height:100%;
	text-align:center;
	line-height:30px;
	font-family: arial;
	font-size: 40px;
	float:left;
	margin-left: 120px;
}
.jindu{
	width:26%;
	height: 100%;
	float:left;
}
.jindu li{
	width:25px;
	height:25px;
	border-radius: 50%;
	background: #583D37;
	font-family: arial;
	font-size: 15px;
	color:#fff;
	text-align: center;
	line-height: 25px;
	float:left;
	margin-right:40px;
	margin-top:7px;
	cursor: pointer;
}
.jindu li:last-child{
	margin-right: 0;
}
.you{
	width:10%;
	height:100%;
	text-align:center;
	line-height:30px;
	font-family: arial;
	font-size: 40px;
	float:left;
}
.tiaozhuan{
	width:10%;
	height:100%;
	font-family:arial;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
	color:#464646;
	float:left;
}
.biank{
	width:10%;
	height:60%;
	border:1px solid #000;
	margin-top: 7px;
	float:left;
	outline: none;
}
.ye{
	width:5%;
	height:100%;
	font-family:arial;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
	color:#464646;
	float:left;
}
.go{
	width:5%;
	height: 100%;
	margin-top: 7px;
	float:left;
}
.y{
	width:28px;
	height:28px;
	border-radius: 50%;
	background: #583D37;
	text-align: center;
	line-height: 28px;
	font-family:"arial narrow";
	font-size: 18px;
	color:#fff;
}
.more2{
	width:60px;
	height: 60px;
	border-radius: 50%;
	background: #464646;
	position:absolute;
	right:-30px;
	top:250px;
	font-family: arial;
	font-size: 16px;
	color:#fff;
	text-align: center;
	line-height: 60px;
}
.dianzhang-4{
	width:100%;
	height:20%;
	background: #F4EEE7;
	box-sizing: border-box;
}
.dianzhang-5{
	width:100%;
	height:80%;
	background: #F4EEE7;
	border-right: 1px solid #b7b7b7;
	box-sizing: border-box;
	overflow: hidden;
}
.dianzhang-6{
	width:100%;
	height:100%;
	background: #edecec;
	border-right: 1px solid #b7b7b7;
	box-sizing: border-box;
	overflow: hidden;
}
.two{
	width:100%;
	height: 1000px;
	position: relative;
}
.benji-main{
	width:880px;
	height:100%;
	margin:0px auto;
	overflow: hidden;
}
.benji{
	width:880px;
	height:400%;
}
.benji li{
	width:270px;
	height:500px;
	float:left;
	/*background: pink;*/
	margin-right:35px ;
	margin-bottom:20px;
	box-shadow:0 0 10px 10px rgba(243,243,243,0.5) ;
}
.benji li:nth-child(3){
	margin-right:0px ;
}
.benji li:nth-child(6){
	margin-right:0px ;
	margin-bottom: 0px;
}
.benji li:nth-child(5){
	margin-bottom:0px ;
}
.benji li:nth-child(4){
	margin-bottom:0px ;
}
.benji li:nth-child(9){
	margin-right:0px ;
}
.benji li:nth-child(12){
	margin-right:0px ;
	margin-bottom: 0px;
}
.benji li:nth-child(11){
	margin-bottom:0px ;
}
.benji li:nth-child(10){
	margin-bottom:0px ;
}
.benji li:nth-child(15){
	margin-right:0px ;
}
.benji li:nth-child(18){
	margin-right:0px ;
	margin-bottom: 0px;
}
.benji li:nth-child(17){
	margin-bottom:0px ;
}
.benji li:nth-child(16){
	margin-bottom:0px ;
}
.benji li:nth-child(21){
	margin-right:0px ;
}
.benji li:nth-child(24){
	margin-right:0px ;
	margin-bottom: 0px;
}
.benji li:nth-child(23){
	margin-bottom:0px ;
}
.benji li:nth-child(22){
	margin-bottom:0px ;
}
.benji li img{
	width:240px;
	height:350px;
}
.benji1{
	width:240px;
	height:350px;
	margin:15px auto;
	background: #fff;
	position: relative;
}
.benji2{
	width:240px;
	height:50px;
	margin:15px auto;
	background: #fff;
	line-height: 50px;
	text-align: left;
	font-family: arial;
	color:#45301D;
	font-size: 25px;
}
.benji3{
	width:240px;
	height:30px;
	margin:15px auto;
	background: #fff;
	line-height: 30px;
	text-align: left;
	font-family: arial;
	color:#45301D;
	font-size: 20px;
}
.zhezhao{
	width:240px;
	height:350px;
	background: #000;
	opacity: 0.5;
	position: absolute;
	left:0;
	top:0;
    font-size: 20px;
	font-family: "微软雅黑";
	color:#fff;
	transition: all 0.5s;
}
.zhezhao:hover{
	opacity: 0;
}
.zhezhao1{
	width:240px;
	height:350px;
	background:#565656;
	opacity: 0.5;
	position: absolute;
	left:0;
	top:0;
    font-size: 20px;
	font-family: "微软雅黑";
	color:#fff;
	transition: all 0.5s;
}
.zhezhao1:hover{
	opacity: 0;
}
.caomei{
   width: 150px;
	height: 150px;
	background:#D8C1C7;
	float:left;
	margin-top:100px;
	margin-left: 45px;
	border-radius: 50%;
	font-family: "微软雅黑";
	font-size: 20px;
	font-weight: bolder;
	text-align: center;
	line-height: 150px;
	color:#000;
}
.bai{
	width:100%;
	height: 100px;
	background:#fff;
	position: absolute;
    top:2910px;
}
.hei{
	width:100%;
	height: 50px;
	position: absolute;
    top:3010px;
}
.heicenter{
	width:400px;
	height: 100%;
	background: #000;
	margin:0 auto;
	font-family: arial;
	font-size: 23px;
	color:#fff;
	text-align: center;
	line-height: 50px;
}
.hei1{
	width:100%;
	height: 60px;
	position: absolute;
    top:3060px;
}
.hei1center{
	width:130px;
	height: 10px;
	background: #000;
	margin:25px auto;
}
.low{
	width:100%;
	height: 50px;
	position: absolute;
    top:2950px;
	font-family: "微软雅黑";
	font-size: 22px;
	color:#000;
	text-align: center;
	line-height: 50px;
}
.bottom{
	width:100%;
	height: 500px;
	position: absolute;
    top:3170px;
	background-image: url(../img/bottom.png);
	background-size:100% 100%;
}
.tel{
	width:300px;
	height: 30px;
	position:absolute;
	left:350px;
	top:100px;
	font-family: arial;
	font-size: 25px;
	text-align: center;
	line-height: 30px;
}
.adress{
	width:550px;
	height: 30px;
	position:absolute;
	left:350px;
	top:150px;
	font-family: arial;
	font-size: 25px;
	text-align: center;
	line-height: 30px;
}
.youxiang{
	width:333px;
	height: 30px;
	position:absolute;
	left:350px;
	top:200px;
	font-family: arial;
	font-size: 25px;
	text-align: center;
	line-height: 30px;
}
.qq{
	width:105px;
	height:120px;
	position:absolute;
	left:350px;
	top:250px;
}
.qqzi{
	width:100%;
	height:20px;
	font-family: arial;
	font-size: 15px;
	text-align: center;
	line-height: 20px;
	color:#000;
}
.qqer{
	width:100px;
	height:100px;
}
.qqer img{
	width:100px;
	height:100px;
}
.weixin{
	width:105px;
	height:120px;
	position:absolute;
	left:450px;
	top:250px;
}
.weizi{
	width:100%;
	height:20px;
	font-family: arial;
	font-size: 15px;
	text-align: center;
	line-height: 20px;
	color:#000;
}
.weier{
	width:100px;
	height:100px;
	margin-top:5px;
	margin-left:5px;
}
.weier img{
	width:90px;
	height:90px;
}
.jingxi{
	width:300px;
	height:50px;
	position: absolute;
	left:550px;
	top:330px;
	font-size: 20px;
	text-align: center;
	line-height: 25px;
	color:#000;
}
.jiyu{
	width:740px;
	height:auto;
	font-family: arial;
	font-size: 20px;
	text-align: center;
	line-height: 25px;
	color:#000;
	position:absolute;
	left:350px;
	top:380px;
}
